

<html><head><meta charset="UTF-8"><title>用$routeProvider 实现多页面布局
</title><meta name="viewport" content="width=device-width, initial-scala=1.0"></head><body><div id="markdown">






<h1 id="-routeprovider-">用$routeProvider 实现多页面布局</h1>
<p>index.html:</p>
<pre><code class="lang-html">&lt;html ng-app=&#39;AMail&#39;&gt;
&lt;head&gt;
    &lt;meta charset=&#39;utf-8&#39;&gt;&lt;/meta&gt;
    &lt;script src=&quot;jquery.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;angular.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;angular-route.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;controller.js&quot;&gt;&lt;/script&gt;
    &lt;title&gt;test routeProvider&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;h1&gt;A-Mail&lt;/h1&gt;
    &lt;div ng-view&gt;&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre>
<p>list.html:</p>
<pre><code class="lang-html">&lt;table&gt;
&lt;tr&gt;
    &lt;td&gt;&lt;strong&gt;Sender&lt;/strong&gt;&lt;/td&gt;
    &lt;td&gt;&lt;strong&gt;Subject&lt;/strong&gt;&lt;/td&gt;
    &lt;td&gt;&lt;strong&gt;Date&lt;/strong&gt;&lt;/td&gt;
&lt;/tr&gt;
&lt;tr ng-repeat=&#39;message in messages&#39;&gt;
    &lt;td&gt;{{message.sender}}&lt;/td&gt;
    &lt;td&gt;&lt;a href=&#39;#/view/{{message.id}}&#39;&gt;{{message.subject}}&lt;/a&gt;&lt;/td&gt;
    &lt;td&gt;{{message.date}}&lt;/td&gt;
&lt;/tr&gt;
&lt;/table&gt;
</code></pre>
<p>detail.html:</p>
<pre><code class="lang-html">&lt;div&gt;&lt;strong&gt;Subject:&lt;/strong&gt;{{message.subject}}&lt;/div&gt;
&lt;div&gt;&lt;strong&gt;Sender:&lt;/strong&gt;{{message.sender}}&lt;/div&gt;
&lt;div&gt;&lt;strong&gt;Date:&lt;/strong&gt;{{message.date}}&lt;/div&gt;
&lt;div&gt;
    &lt;strong&gt;To:&lt;/strong&gt;
    &lt;span ng-repeat=&#39;recipient in message.recipients&#39;&gt;{{recipient}}&lt;/span&gt;
    &lt;div&gt;{{message.message}}&lt;/div&gt;
    &lt;a href=&#39;#/&#39;&gt;Back to message list&lt;/a&gt;
&lt;/div&gt;
</code></pre>
<p>controller.js:</p>
<pre><code class="lang-js">var aMailServices = angular.module(&#39;AMail&#39;, [&#39;ngRoute&#39;]);

aMailServices.config([
    &#39;$routeProvider&#39;,
    function($routeProvider)
    {
        $routeProvider.
            when(&#39;/&#39;,
            {
                controller: &#39;ListController&#39;,
                templateUrl: &#39;list.html&#39;
            }).
            when(&#39;/view/:id&#39;,
            {
                controller: &#39;DetailController&#39;,
                templateUrl: &#39;detail.html&#39;
            }).
            otherwise(
            {
                redirectTo: &#39;/&#39;
            });
    }]);

messages = [
{
    id: 0,
    sender: &#39;jean@somecompany.com&#39;,
    subject: &#39;Hi there, old friend&#39;,
    date: &#39;Dec7, 2013 12:32:00&#39;,
    recipients: [&#39;grep@somecompany.com&#39;],
    message: &#39;Hey, we should get together for lunch sometime and catch up.&#39; +
        &#39; There are many things we should collaborate on this year.&#39;
},
{
    id: 1,
    sender: &#39;maria@somecompany.com&#39;,
    subject: &#39;Where did you leave my laptop?&#39;,
    date: &#39;Dec 7 2013 8:15:12&#39;,
    recipients: [&#39;grep@somecompany.com&#39;],
    message: &#39;I thought you were going to put it in my desk drawer.&#39; +
        &#39; But it does not seem to be there.&#39;
},
{
    id: 2,
    sender: &#39;bill@somecompany.com&#39;,
    subject: &#39;Lost python&#39;,
    date: &#39;Dec 6, 2013 20:35:02&#39;,
    recipients: [&#39;greg@somecompany.com&#39;],
    message: &#39;Nobody panic, but my pet python is missing from her cage.&#39; +
        &#39; She doesn\&#39;t move too fast, so just call me if you see her.&#39;
}];

aMailServices.controller(&#39;ListController&#39;, function($scope)
{
    $scope.messages = messages;
});

aMailServices.controller(&#39;DetailController&#39;, function($scope, $routeParams)
{
    // 这里应该查找messsages中，object中id为$routeParams.id的项，
    // 而不是把$routeParams.id当做messages下标
    // 或者href=&#39;#/view/{{message.id}}&#39;
    // 换成href=&#39;#/view/{{$index}}&#39;
    $scope.message = messages[$routeParams.id];
});
</code></pre>


</div>
<script src="../js/jquery-1.12.3.min.js" charset="utf-8"></script>
<link rel="stylesheet" href="../css/highlight.min.css">
<script src="../js/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script type="text/javascript">
jQuery(function ($) {
});
</script></body></html>

